/* Cores:
#DD5151 VERMELHO
#1B1B1B PRETO
#FFFFFF BRANCO
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  position: absolute;
  right: 0;

  margin: 15px;
}

/* Navbar /// */

/* Container de Aviso */
.container-aviso {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 100px;

  border-radius: 100px;

  background-color: #DD5151;
}

.container-aviso-picture {
  display: flex;
  align-items: center;

  width: 265px;
}

.container-aviso-picture h1 {
  margin-left: 20px;
  color: #FFFFFF;
  font-weight: normal;
}

/* Container de Aviso /// */


/* Container de Login */
main {
  display: grid;
  place-items: center;

  height: 100vh;

  background-color: #FFFFFF;
}

.container-login {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 384px;
  height: 400px;

  border-radius: 65px;
  border: #DD5151 8px solid;

  color: #1B1B1B;
  font-weight: normal;
  font-size: 25px;
}

#inpUsuario,
#inpSenha {
  height: 45px;
  width: 300px;

  border: #DD5151 5px solid;
  border-radius: 100px;
  outline: none;

  text-align: center;
  font-size: 20px;
}

#inpUsuario {
  margin-bottom: 20px;
}

#inpSenha {
  margin-bottom: 35px;
}

.container-submit {
  text-align: center;
}

#inpEntrar {
  width: 200px;
  height: 70px;

  background-color: #DD5151;
  border-radius: 100px;
  border: none;

  color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
}

/* Container de Login /// */

/* AÇÕES E RESPONSAVIBILIDADE: */

#inpEntrar:hover {
  background-color: #1B1B1B;
}

#inpUsuario:hover,
#inpSenha:hover {
  border: #1B1B1B 5px solid;
}

@media (max-width: 500px) {
  .container-aviso {
    width: 300px;
    height: 120px;
  }

  .container-aviso-picture {
    width: 180px;
  }
}